$yellowPikachu: #f4dc26;
$redPikachu:    #e92929;
$cardGreyPart:  #dfdfdf;
$cardWhitePart: #ffffff;
$lightText:     #d2ccc8;

$earSize:   6vw;
$cheekSize: 8vw;

$mainSectionWidth: 70%;

$normalFontSize:  12pt;
$searchFontSize:  16pt;
$titleFontSize:   16pt;
$taggingFontSize: 10pt;