@import 'consts';

.card { position: relative; width: 15em; margin: 10px; border: solid grey 1px; border-radius: 2px; box-shadow: rgba(126, 125, 123, 0.288) 3px 3px; cursor: pointer; }

.card > div { box-sizing: border-box; height: 10em; }
.card .greypart  { background-color: $cardGreyPart;  position: relative; }
.card .whitepart { background-color: $cardWhitePart; padding: 1em; }

.card .photo     { position: relative; height: 100%; width: 100%; }
.card .photo img { display: block; position: absolute; top: 50%; left: 50%; -ms-transform: translate(-50%, -50%); transform: translate(-50%, -50%); height: 80%; margin: 0; }
.card .id        { position: absolute; bottom: 0; padding: 0.2em; background-color: $lightText; }
.card .name      { margin: 0.2em; font-size: $titleFontSize; font-weight: bold; }
.card .kind      { margin: 0.4em 0.2em; font-size: $taggingFontSize; color: $lightText; }
.card .kind span { margin-right: 0.2em; border: solid $lightText 1px; border-radius: 3px; padding: 0.1em 0.2em; text-transform: uppercase; }
.card .evolution { margin: 0.5em 0.2em; border-left: solid $redPikachu 3px; padding: 0.2em; }
.card .parent    { font-size: $titleFontSize; text-transform: lowercase; }