.card { position: relative; width: 15em; margin: 10px; border: solid grey 1px; border-radius: 2px; box-shadow: rgba(126, 125, 123, 0.288) 3px 3px; cursor: pointer; }

.card > div { box-sizing: border-box; height: 10em; }

