body { background: #f4dc26; }
body { font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; font-size: 12pt; }

.searchbox { position: relative; width: 70%; margin: 2em auto; }
.search    { width: 100%; height: 2em; font-size: 16pt; text-align: center; }

.pile { display:flex; flex-flow: row wrap; justify-content: center; }
.card { position: relative; width: 15em; margin: 10px; border: solid grey 1px; border-radius: 2px; box-shadow: rgba(126, 125, 123, 0.288) 3px 3px; }

.pokemon-face div { position:fixed; width: 0; }

.ear   { top:     0;   border-top: solid 6vw black;  }
.cheek { bottom: -8vw; border:     solid red 8vw; border-radius: 8vw; }

.left.ear  { left:  0; border-right: solid 6vw transparent; }
.right.ear { right: 0; border-left:  solid 6vw transparent; }

.left.cheek   { left: -8vw; }
.right.cheek { right: -8vw; }