@import 'consts';

body { background: $yellowPikachu; }

.pokemon-face div { position:fixed; width: 0; }

.ear   { top:              0; border-top: solid $earSize black;  }
.cheek { bottom: -$cheekSize; border:     solid $redPikachu $cheekSize; border-radius: $cheekSize; }

.left.ear  { left:  0; border-right: solid $earSize transparent; }
.right.ear { right: 0; border-left:  solid $earSize transparent; }

.left.cheek   { left: -$cheekSize; }
.right.cheek { right: -$cheekSize; }